@model Capstone.Web.Models.ViewModels.AddUsersToLeague


<div id="addUsersToLeague">

    <div class="modal-header">
        <h1><span class="glyphicon glyphicon-plus-sign"></span> Add Golfers to Your League</h1>
    </div>

    @using (Html.BeginForm("AddUsersToLeague", "Home", FormMethod.Post, Model))
    {
        <div class="form-group">
            <label for="Username">Please enter the username of the golfer to be added.</label>
            @Html.TextBoxFor(m => m.Username, new { placeholder = "dlimmer" })
            @Html.ValidationMessageFor(m => m.Username)
        </div>

        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-cloud-upload"></span> Add Golfer</button>
    }

</div>