@using Capstone.Web.Models.ViewModels;
@model List<Course>

<head>
    @*As a league organizer, I need the ability to set up a "league" 
    for my friends so that we can view each other's leaderboard and form friendly competitions.
    A league requires a course to be associated with it.*@
</head>

<div class="main">
    <form method="post" action="@Url.Action("CreateLeague","Home")">
        <table>
            <tr>
                <td class="box">
                    League Name:
                </td>
                <td>
                    <input type="text" name="League Name" required />
                </td>
            </tr>
            <tr>
                <td class="box">
                    Choose Course:
                </td>
                <td>
                    <select name="Course" required>
                        <option value="">Select</option>
                        @foreach (Course c in Model)
                        {
                        <option value="@c.ID"> @c.Name </option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="box">
                    Thank you!
                </td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>