<h1>The Inner Dimension</h1>
@Html.Action("Content")

<p style="background-color:lawngreen;text-align:center">@Html.Partial("_Message")</p>


<h1>Welcome to Golf Pro</h1>

<h2>@Html.ActionLink("Get Started!", "Login")</h2>

<h3>Create Leagues and Compete With Friends</h3>

<h3>Check Leaderboard Standings</h3>

<h3>Make Reservations and Book Tee-Times</h3>

<h3>Search for Golf Courses in Your Area</h3>