@using Capstone.Web.Models;
@using Capstone.Web.Models.ViewModels;
@model Leaderboard

<div class="main">
    <table>
        <thead>Leaderboard</thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Average Score</td>
            </tr>
            @foreach (LeaderboardUser user in Model.Users)
            {
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.AverageScore</td>
                </tr>
            }
        </tbody>
    </table>
</div>