@using Capstone.Web.Models;
@model Leaderboard

<div class="main">
    <table>
        @foreach (User user in Model.Users)
        {
        <tr>
            <th>Golfer Name</th>
            <td>gggg@*@user.FirstName @user.LastName*@</td>
            <th>Golfer Username</th>
            <td>gggg@*@user.Username*@</td>
            <th>Average Score</th>
            <td>gggg@*@((user.TotalStrokes / user.NumberOfHoles) * 18)*@</td>
        </tr>
        }
        </table>
    </div>