@using Capstone.Web.Models;
@using Capstone.Web.Models.ViewModels;
@model Leaderboard

<div class="main">
    <table>
        <tr>
            <th>Name</th>
            <th>Average Score</th>
        </tr>
        @foreach(LeaderboardUser user in Model.Users)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.AverageScore</td>
            </tr>
        }
    </table>
</div>