@using Capstone.Web.Models
@model List<UserMatch>

@{
    int numUnscored = Model.Count;
}

<div>
    @if (numUnscored > 0)
    {
        Html.BeginForm("PostScore", "Home", FormMethod.Post);
        <DropdownmenuIDK>
            @foreach()
        </DropdownmenuIDK>
    }
    else
    {
        <div class="alert alert-warning">
            <h2>No matches pending</h2>
        </div>
    }
</div>