@using Capstone.Web.Models
@model Course

<head>

</head>

<div class="main">

    <form method="post" action="@Url.Action("AddNewCourse","AdminController")">
        <table>
            <tr>
                <td class="box">
                    Enter Course Name:
                </td>
                <td>
                    <input type="text" name="Name" required />
                </td>
            </tr>
            <tr>
                <td class="box">
                    Number of Holes:
                </td>
                <td>
                    <select name="NumberOfHoles" required>
                        <option value="">Select</option>
                        <option value="9"> 9 </option>
                        <option value="18"> 18 </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="box">
                    Length in Yards:
                </td>
                <td>
                    <input type="text" name="LengthInYards" required />
                </td>
            </tr>
            <tr>
                <td class="box">
                    Par:
                </td>
                <td>
                    <input type="text" name="Par" required />
                </td>
            </tr>
            <tr>
                <td class="box">
                    Thank you!
                </td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>

        </table>
    </form>
</div>
