body {
    background: url(./images/true.jpg) no-repeat;
    padding-top: 125px;
}

header nav {
    background: url(https://contattafiles.s3.us-west-1.amazonaws.com/tecommunity/ZVYYT4Rjb_eOVvk/splash%20art%20for%20title.jpg) no-repeat;
    background-size: cover;
}

/*header, main {
    background: rgba(255, 255, 255, 0.72);
}

    header nav {
        background: rgba(42, 255, 0, 0.38);
    }
    header nav a{
        font-size:120%;
    }
    header nav a:hover{
        text-decoration: none;f
    }*/

.form-group .error {
    color: orangered;
}

/*div.container-fluid {
    padding-bottom: 15px;
    border: 4px groove #337ab7;
}*/
