body {
    background: url(./images/true.jpg) no-repeat;
    padding-top: 125px;
    background-size: cover;
}


button {
    width: 20%;
    display: block;
    margin: 0 auto;
}

header nav {
    background: url('images/navbar art.jpg') no-repeat;
    background-size: cover;
}

.footer {
    background: url('images/navbar art 2.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 30px;
    line-height: 60px;
    border-top-style:solid;
    border-top-color:white;
    position: fixed;
    bottom:0;
    
}
body{
    padding-bottom:100px;
}
.modal-header, h4, .close {
    color: black !important;
    text-align: center;
    font-size: 30px;
}
    .form-group .error{

    color: orangered;
}
    .poop-deck{
        /*justify-content: center;*/
        
        margin-right:auto;
        margin-left:auto;
        width:450px;
           
    }

    /*header, main {
    background: rgba(255, 255, 255, 0.72);
}

    header nav {
        background: rgba(42, 255, 0, 0.38);
    }
    header nav a{
        font-size:120%;
    }
    header nav a:hover{
        text-decoration: none;f
    }*/
  
    /*div.container-fluid {
    padding-bottom: 15px;
    border: 4px groove #337ab7;
}*/
