@using Capstone.Web.Models;
@model Leaderboard

<div class="main">
    <table>
        <th>Golfer Name</th>
        <tr>
            @foreach (User user in Model.Users)
            {
                @user.FirstName @user.LastName;
            }
        </tr>
        <th>Username</th>
        <tr>
            @foreach (User user in Model.Users)
            {
                @user.Username;
            }
        </tr>
        <th>Average Score</th>
        <tr>
            @foreach (User user in Model.Users)
            {
                @((user.TotalStrokes / user.NumberofHoles) * 18);
            }
        </tr>
    </table>
</div>