@using Capstone.Web.Models;
@model Leaderboard

<div class="main">
    <table>
        <th>Golfer Name</th>
        <tr>
            @foreach (Player player in Model.Players)
            {
                @player.FirstName @player.LastName;
            }
        </tr>
        <th>Username</th>
        <tr>
            @foreach (Player player in Model.Players)
            {
                @player.Username;
            }
        </tr>
        <th>Average Score</th>
        <tr>
            @foreach (Player player in Model.Players)
            {
                @((player.TotalStrokes / player.NumberofHoles) * 18);
            }
        </tr>
    </table>
</div>