@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles.golfpro.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.golfpro.js"></script>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>@Html.ActionLink("Leaderboards", "LeagueLeaderBoard", "Home")</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @Html.Action("Navigation")

            </ul>
        </nav>
    </header>
    
    <main>
        @RenderBody()
    </main>
</body>
</html>
