@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GolfPro Deluxe</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles.golfpro.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.golfpro.js"></script>
    <script src="~/Scripts/jquery.GolfProValidation.js"></script>

</head>
<body>
    <section>
        <header>
                <nav class="navbar">
                    <div style="float: right; padding-top: .6%; padding-right: 8%">
                        <div class="dropdown">
                            <button style="position: relative" class="btn navbar-btn btn-md btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-align-justify"></span> Menu
                            </button>

                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                @Html.Action("Navigation")
                            </ul>
                        </div>
                    </div>
                </nav>
        </header>
        <div class="clear"></div>
    </section>
    <section>
        <main>
            
                @Html.Partial("_Message")
                @RenderBody()

        </main>
        <div class="clear"></div>
    </section>
    <section>
        
    </section>
</body>

</html>
