@using Capstone.Web.Controllers;

@{
    string cssClass = "";
    if (TempData[HomeController.SUCCESS_MESSAGE_TYPE_KEY] != null)
    {
        HomeController.MessageType type = (HomeController.MessageType)TempData[HomeController.SUCCESS_MESSAGE_TYPE_KEY];

        if (type == HomeController.MessageType.Error)
        {
            cssClass = "danger";
        }
        else
        {
            cssClass = type.ToString().ToLower();
        }
    }
}


<h1 class="label label-@cssClass">@TempData[HomeController.SUCCESS_MESSAGE_KEY]</h1>
