@model Capstone.Web.Models.League




<ul id="organizer">
    <li class="btn btn-info"><span class="glyphicon glyphicon-user"></span>@Html.ActionLink(" Add User", "AddUsersToLeague", new { leagueId = Model.ID })</li>
    <li class="btn btn-info"><span class="glyphicon glyphicon-calendar"></span>@Html.ActionLink(" Schedule Match", "CreateMatch", new { leagueId = Model.ID })</li>
    <li class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>@Html.ActionLink(" Log Scores", "LogMatchScores")</li>
</ul>