@model Capstone.Web.Models.League

<ul id="organizer">
    <li>@Html.ActionLink("Add User", "AddUsersToLeague", new { leagueId = Model.ID })</li>
    <li>@Html.ActionLink("Schedule Match", "CreateMatch", new { leagueId = Model.ID })</li>
    <li>@Html.ActionLink("Log Scores", "LogMatchScores")</li>
</ul>