@model Capstone.Web.Models.League

<ul id="organizer">
    <li>@Html.ActionLink("Add User", "AddUsersToLeague", new { leagueId = Model.ID })</li>
    <li><a href="#">Schedule Match</a></li>
    <li><a href="#">Log Scores</a></li>
</ul>