@model Capstone.Web.Models.DashboardRobot


<style>
  #dumshit{
      text-align:center;
      font-size: 20px;
      font-weight:bolder;
      background-color:lightgray;
      border:solid;
      border-color: darkgray;
  }

  #namer{
      color:black;
      text-decoration:double;
      text-shadow: 1px 1px 1px white;

  }
  h2{
      text-align:center;
      font-weight:bolder;
  }
 
</style>


<div id="greeting">
    <h1>@{Write(Model.MessageGreeting());}</h1>
</div>
<div class="clear"></div>
<div class="container">
    <div id="col01">
        @if (Model.PlayerScores != null)
        {
            if (Model.PlayerScores.Count > 0)
            {
                <p>
                    @{ Write(Model.MessageAverage());}
                </p>
                <p>
                    @{ Write(Model.MessageBest18());}
                </p>
                <p>
                    @{ Write(Model.MessageBest9());}
                </p>
                <br />
                <h2>Match History</h2>
                foreach (var sm in Model.PlayerScores)
                {
                    <div>
                        <p>@{Write(sm.Date);}</p>
                        <p>@{Write(Model.MessageMatchScore(sm));}</p>
                    </div>
                }
            }
            else
            {
                <h2>No matches on record</h2>
            }
        }
        else
        {
            <h2>No matches on record</h2>
        }
    </div>
    <div id="col02" class="invisible">

    </div>
    <div id="col03" class="col">
        @if (Model.PlayerLeagues != null)
        {
            if (Model.PlayerLeagues.Count > 0)
            {

                <h2>Leagues</h2>
                foreach (var league in Model.PlayerLeagues)
                {
                    <div id="dumshit">
                        <a href="@Url.Action("LeagueLeaderBoard", "Home", new { leagueId = league.ID })">

                            <p><span id="namer">League: </span> @{Write($"{league.Name} - {league.OrganizerUsername}");}</p>
                            <p><span id="namer">Course Name: </span>@{Write(league.CourseName);}</p>
                        </a>
                        @if (Model.IsOrganizerOf(league))
                        {
                            @Html.Partial("_OrganizerOptions", league)
                        }
                    </div>

                }

            }
            else
            {
                <p>You are not a member of any leagues</p>
                @Html.ActionLink("Click here to start your own League!", "CreateLeague", "Home")
            }
        }
        else
        {
            <p>You are not a member of any leagues</p>
            @Html.ActionLink("Click here to start your own League!", "CreateLeague", "Home")
        }
    </div>
</div>